@font-face{
    font-family: 'HYRunYuan';
    font-display: swap;
    src: url('../font/HYRunYuan-65W.ttf') format("truetype");
}
@font-face{
    font-family: 'HYRunYuan';
    font-display: swap;
    src: url('../font/HYRunYuan-65W.ttf') format("truetype");
}
body {
    font-family: 'HYRunYuan','HYRunYuan';
}